<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div id="app"><%- markup %></div>
    <script src="/vendor.bundle.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
